body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    --menu-color: #222;
    --button-color: #3d3d3d;
    --button-background: #428bca;
    color: #eee;
}

.darkBody {
    background-color: #111111;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#overlays {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

#helloDialog {
    width: 350px;
    background-color: var(--menu-color);
    margin: 0 auto;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: var(--button-color);
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
}

.btn {
    background: var(--button-background);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover { background: #337ab7; }
.text-muted { color: #888; }